{{ template "admin/base/AdminBase.html" .}}
{{define "meta"}}
{{end}}
{{define "head"}}
<link href="/static/admin/css/adminuserlist.css" rel="stylesheet">
<script src="/static/admin/js/adminuserlist.js" language="JavaScript"></script>
{{end}}
{{define "body"}}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>RegTime</th>
        <th>Role</th>
        <th>Operate</th>
    </tr>
    </thead>
    <tbody>
    {{range .Users}}
    <tr>
        <th scope="row">{{.Id}}</th>
        <td>{{.UserName}}</td>
        <td>{{date .RegTime "Y-m-d H:i:s"}}</td>
        <td>{{if compare .Authority 0}}Administrator{{else if compare .Authority 1}}General{{end}}</td>
        <td>
            <div class="row-operate">
                <a class="row-operate-del" href="javascript:void(0);">删除</a>
                <a class="row-operate-mod" href="javascript:void(0);">修改</a>
            </div>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}