{{ template "admin/base/AdminBase.html" .}}
{{define "meta"}}
{{end}}
{{define "head"}}
<link href="/static/admin/css/adminarticlelist.css" rel="stylesheet">
<script src="/static/admin/js/adminarticlelist.js" language="JavaScript"></script>
{{end}}
{{define "body"}}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>CreateTime</th>
        <th>RealseTime</th>
        <th>Status</th>
        <th>Operate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>博客开通测试</td>
        <td>Rick</td>
        <td>2016-01-01 00:00:00</td>
        <td>2016-01-01 00:00:00</td>
        <td>已发布</td>
        <td>
            <div class="row-operate">
                <a class="row-operate-rel" href="javascript:void(0);">发布</a>
                <a class="row-operate-del" href="javascript:void(0);">删除</a>
                <a class="row-operate-mod" href="javascript:void(0);">修改</a>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>博客开通测试3</td>
        <td>Rick</td>
        <td>2016-01-01 00:00:00</td>
        <td>2016-01-01 00:00:00</td>
        <td>已发布</td>
        <td>
            <div class="row-operate">
                <a class="row-operate-rel" href="javascript:void(0);">发布</a>
                <a class="row-operate-del" href="javascript:void(0);">删除</a>
                <a class="row-operate-mod" href="javascript:void(0);">修改</a>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>博客开通测试3</td>
        <td>Rick</td>
        <td>2016-01-01 00:00:00</td>
        <td>2016-01-01 00:00:00</td>
        <td>已发布</td>
        <td>
            <div class="row-operate">
                <a class="row-operate-rel" href="javascript:void(0);">发布</a>
                <a class="row-operate-del" href="javascript:void(0);">删除</a>
                <a class="row-operate-mod" href="javascript:void(0);">修改</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
{{end}}