{{template "base/base.html" .}}
{{define "meta"}}
{{end}}
{{define "head"}}
{{end}}
{{define "body"}}
<article>
    <div>
    <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
    </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
<article>
    <div>
        <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
        </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
<article>
    <div>
        <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
        </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
<article>
    <div>
        <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
        </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
<article>
    <div>
        <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
        </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
<article>
    <div>
        <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
        </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
<article>
    <div>
        <h1>携程app引领机票预订进入读秒时代</h1>
        <div class="article-time"> 2016-05-27 13:32:00　
        </div>
    </div>
    <p>中国经济网北京5月27日讯 近期，国内在线旅游巨头携程网在服务环节做出了一项小调整，在全国范围内统一使用第三方物流为用户寄送机票单证，取代原有的自有配送团队。
    </p>
    <a class="article-more" href="/blogs/20160601001.md">More...</a>
</article>
{{end}}