
{{template "base/base.html" .}}
{{define "meta"}}
{{end}}
{{define "head"}}
<link href="/static/css/links.css" rel="stylesheet">
<script src="/static/js/links.js" language="JavaScript"></script>
{{end}}
{{define "body"}}
<div>
    <div class="community">
        <div class="title community-title">Community</div>
        <div class="community-item"><a href="http://www.csdn.net/">CSDN</a></div>
        <div class="community-item"><a href="http://stackoverflow.com/">StackOverFlow</a></div>
        <div class="community-item"><a href="https://github.com/">Github</a></div>
        <div class="community-item"><a href="https://coding.net/">Coding</a></div>
        <div class="community-item"><a href="http://www.51cto.com/">51CTO</a></div>
    </div>
    <div class="knowledgebase">
        <div class="title knowledgebase-title">Knowlwdge Base</div>
        <div class="knowledgebase-item"><a href="http://hadoop.apache.org/">Hadoop:http://hadoop.apache.org/</a></div>
        <div class="knowledgebase-item"><a href="http://hadoop.apache.org/">Lucence:http://lucene.apache.org/</a></div>
    </div>
    <div class="friendlinks">
        <div class="title friendlinks-title">Friend Links</div>
        <div class="friendlinks-item"><a href="http://www.l-angel.net/">Rick</a></div>
        <div class="friendlinks-item"><a href="http://my.csdn.net/z_dianjun">张佃君</a></div>
        <div class="friendlinks-item"><a href="https://www.zning.net.cn">张宁</a></div>
    </div>
</div>
{{end}}


