@media all and (max-width: 700px) {
    .container{
        /*
        border: solid 2px red;
        */
        margin-top:10px;
        margin-left:-1%;
        margin-right:-1%;
        overflow: scroll;
    }
    .contain-body{
    }
}
@media all and (min-width: 700px){
    .container{
        margin-top:10px;
        margin-left:250px;
        margin-right:0%;
        overflow: scroll;
    }
    .contain-body{
        min-height: 570px;
    }
}
article{
    margin-left:5px;
    border-bottom: solid 1px silver;
    padding-bottom: 10px;
}
.article-time{
    font-size:0.6rem;
}
article>.article-more{
    color:lightskyblue;
    margin-left:10px;
}
article>.article-more:link{
    text-decoration: none;
}
article>.article-more:hover{
    color:deepskyblue;

}