.content-body{
    border: 2px solid black;
    border-radius: 10px;
}
.article-title{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-right: 100px;
}
.article-title label{
    font-size: 1.2rem;
    text-align: center;
    line-height: 35px;
}
.article-title input{
    width:60%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    height: 35px;
}
.article-type{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-right: 100px;
}
.article-type label{
    font-size: 1.2rem;
    text-align: center;
    line-height: 35px;
}
.article-type select{
    border-radius: 5px;
    border: 1px solid gainsboro;
    height: 35px;
    width: 30%;
}
.article-type select option{
    height: 35px;
    width: 30%;
}
.article-content{
    width: 100%;
    min-height: 450px;
}
.article-content textarea{
    margin-left: 10px;
    width:48%;
    height: 420px;
}
div>#la-markdown-preview1{
    width:47%;
    height: 420px;
    margin-right:10px;
    overflow: auto;
    border: 1px solid #5bc0de;
    border-radius: 5px;
    float: right;
}
.btn-group{
    width: 100%;
    padding-left: 48%;
    padding-right: 48%;
}
.hidden-content{
    display: none;
}
#container{
    width: 100%;
    height: 100%;
    top:8%;
    background: #22BAA0;
    filter:alpha(opacity=50);
    opacity: 0.5;
    position: absolute;
}
.file-upload-form{
    width:30%;
    height:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    background: white;
}
